/* This file only has styles for elements outside the React app */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  /* Prevent scroll bar from changing the page width when switching to a view
     that isn't long enough to scroll */
  overflow-y: scroll;
}
